[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/catppuccin"]
	path = tmux/plugins/catppuccin
	url = https://github.com/catppuccin/tmux
[submodule "tmux/plugins/rose-pine"]
	path = tmux/plugins/rose-pine
	url = https://github.com/rose-pine/tmux
